:root {
    --back: #2b0245;
    --motive: #feb93f;
}
::selection { background-color: var(--back); }
html { scroll-behavior: smooth; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
body { margin: 0; padding: 0; }
/*
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--motive);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--back);
  border-radius: 10px;
}*/




header { 
    display: flex; 
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_2t/1476.jpg); /*https://cdn.pixabay.com/photo/2021/10/09/07/37/maisan-provincial-park-6693310_960_720.jpg*/
    background-size: cover;
    transition: all .5s;

}
header div h1.title { 
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--motive);
    text-shadow: 0 0 15px var(--back);
    transition: all .5s;
}
header div h1.title span:first-child { 
  font-size: 35px;
}
header div h1.title span#a { 
  font-size: 20px;
}
header div span.sub {
    margin: 25px 200px;
    cursor: pointer;
    transition: all .5s;
}
